ul {
	list-style-type: none;
	padding-left:0;
}

header {
	text-align: center;
	background-image: linear-gradient(to right,lightskyblue,blue);
	margin: 0 0 20px 0;
}

h2 {
	color: black;
}

.form-input { 
	margin: 5px 5px;
}

.history-item {
	background-color: lightgrey;
	border-radius: 5px;
	text-align: center;
	font-style: bold;
}

.current-weather {
	color: black;
	border: solid black 4px;
	height: 300px;
}

.uvi {
	padding: 5px 15px;
	border-radius: 20%;
}

.green {
    background-color: rgb(0, 200, 0);
}

.yellow {
    background-color: rgb(255, 255, 90);
}

.red {
    background-color: rgb(255, 50, 50);
}
